Repository macho715/sct_invoice, changes with the owners that .github/CODEOWNERS names for each.
All owners: @logistics-team, @senior-dev-1, @senior-dev-2, @ml-team-lead, @compliance-team, @tech-lead, @devops-team, @security-team, @tech-writer, @qa-team, @data-team, @document-processing-team, @finance-team, @architecture-team

docs: Add comprehensive project README
  README.md
Owners: @logistics-team

refactor: Reorganize project structure and remove duplicate rule pack
  core/__init__.py
  cursor_rule_pack_v4_1/.github/workflows/ci.yml
  cursor_rule_pack_v4_1/.pre-commit-config.yaml
  cursor_rule_pack_v4_1/CODEOWNERS
  cursor_rule_pack_v4_1/README_RULE_PACK.md
  docs/DEPLOYMENT_GUIDE.md
  docs/README_RULE_PACK.md
  docs/RULES_MIGRATION_GUIDE.md
  docs/guide.md
  docs/plans/ml-systems-integration-tdd.plan.md
  formatters/__init__.py
  tests/test_simple.py
  validators/__init__.py
Owners: @logistics-team, @tech-writer, @tech-lead, @qa-team

docs: Add HVDC system detailed analysis (3-part) and project visualization
  docs/visualizations/FILES_PER_SUBSYSTEM.png
  docs/visualizations/SYSTEM_RELATIONSHIPS.png
  hitachi/docs/HVDC_SYSTEM_DETAILED_ANALYSIS.md
  hitachi/docs/HVDC_SYSTEM_DETAILED_ANALYSIS_PART2.md
  hitachi/docs/HVDC_SYSTEM_DETAILED_ANALYSIS_PART3.md
  scripts/visualize_project_overview.py
  scripts/visualize_systems.py
Owners: @tech-writer, @tech-lead, @logistics-team, @devops-team, @senior-dev-1

feat: Add enhanced system visualization with Mermaid architecture
  README.md
  SYSTEM GRAPH.MD
  diagrams/hvdc-system-architecture.mmd
  docs/visualizations/FILES_PER_SUBSYSTEM_V2.png
  docs/visualizations/SYSTEM_RELATIONSHIPS_V2.png
  scripts/visualize_systems_enhanced.py
Owners: @logistics-team, @tech-writer, @tech-lead, @devops-team, @senior-dev-1

docs: Update README with comprehensive work log and documentation links
  README.md
Owners: @logistics-team

feat: Update rule pack to v2.0 with Enhanced Visualization support
  rule/.github/dependabot.yml
  rule/.github/workflows/ci.yml
  rule/.pre-commit-config.yaml
  rule/CODEOWNERS
  rule/README.md
  rule/docs/AGENTS.md
  rule/docs/HVDC_INVOICE_README.md
  rule/docs/constitution.md
  rule/plan.md
  rule/pyproject.toml
  rule/spec/docs/AGENTS.md
  rule/spec/docs/constitution.md
  rule/spec/src/core/app.py
  rule/spec/tests/test_app.py
  rule/src/__init__.py
  rule/src/core/app.py
  rule/tests/test_app.py
  rule/tests/test_app_runs.py
  rule/tests/test_scaffold_exists.py
  rule/tools/init_settings.py
Owners: @logistics-team, @qa-team

fix: Replace Mermaid architecture-beta with standard graph syntax for GitHub compatibility
  README.md
Owners: @logistics-team

feat: Anomaly Detector v2 업그레이드 완료
  README.md
  hitachi/anomaly_detector/API_REFERENCE.md
  hitachi/anomaly_detector/UPGRADE_V2_GUIDE.md
  hitachi/anomaly_detector/VALIDATION_REPORT.md
  hitachi/anomaly_detector/anomaly_detector.py
  hitachi/anomaly_detector/anomaly_detector_v1_backup.py
  hitachi/anomaly_detector/patch.md
  hitachi/anomaly_detector/pytest.ini
  hitachi/anomaly_detector/test_anomaly_detector.py
  hitachi/hvdc_anomaly_report_v2.json
Owners: @logistics-team, @qa-team

docs: v3.7-DOCUMENTATION - Comprehensive guide suite and code improvements
  QUICK_START_GUIDE.md
  README.md
  analyze_agi_columns.py
  check_consistency.py
  hitachi/anomaly_detector/ANOMALY_DETECTION_GUIDE.md
  hitachi/anomaly_detector/API_REFERENCE.md
  hitachi/anomaly_detector/COLOR_PATCH_REPORT.md
  hitachi/anomaly_detector/UPGRADE_V2_GUIDE.md
  hitachi/anomaly_detector/VALIDATION_REPORT.md
  hitachi/anomaly_detector/VISUALIZATION_GUIDE.md
  hitachi/anomaly_detector/anomaly_detector.py
  hitachi/anomaly_detector/anomaly_visualizer.py
  hitachi/anomaly_detector/create_analysis_report.py
  hitachi/anomaly_detector/create_final_report_with_anomaly.py
  hitachi/anomaly_detector/debug_anomaly_types.py
  hitachi/anomaly_detector/debug_case_matching.py
  hitachi/anomaly_detector/debug_missing_anomalies.py
  hitachi/anomaly_detector/hvdc_anomaly_report_v2.json
  hitachi/anomaly_detector/test_anomaly_detector.py
  hitachi/anomaly_detector/verify_colors.py
  hitachi/anomaly_detector/verify_colors_detailed.py
  hitachi/docs/SYSTEM_WORKFLOW_VERIFICATION.md
  hitachi/docs/system_workflow_diagram.md
  hitachi/docs/system_workflow_diagram.mmd
  hitachi/hvdc_anomaly_report_v2.json
  hitachi/patchcolor.md
  hitachi/pipeline.md
  pipe1/DATA_SYNCHRONIZER_GUIDE.md
  pipe1/POST_AGI_COLUMN_GUIDE.md
  pipe1/README.md
  pipe1/calculate_agi_with_color_preservation.py
  pipe1/data_synchronizer_v29.py
  pipe1/post_agi_column_processor.py
  pipe1/process_with_colors.py
  pipe2/PIPELINE_EXECUTION_REPORT_20251018.md
  pipe2/PIPELINE_USER_GUIDE.md
  pipe2/README.md
Owners: @logistics-team, @qa-team

docs: update README.md v3.7-DOCUMENTATION with pipe1/pipe2 structure and guides
  README.md
Owners: @logistics-team

structural(docs): docs: align pipeline post-agi instructions
  hitachi/pipeline.md
Owners: @logistics-team

structural(core): refactor: centralize agi column naming
  pipe1/__init__.py
  pipe1/agi_columns.py
  pipe1/post_agi_column_processor.py
  pipe1/process_with_colors.py
  tests/test_agi_columns.py
Owners: @logistics-team, @qa-team

fix: change absolute imports to relative imports in pipe1 scripts
  pipe1/post_agi_column_processor.py
  pipe1/process_with_colors.py
Owners: @logistics-team

feat: Update Git URLs to new repository and add pipeline backup
  01_PIPELINE_OVERVIEW_20251019.md
  02_PIPE1_DETAILED_REPORT_20251019.md
  PIPELINE_EXECUTION_REPORT_20251019.md
  README.md
  hitachi/tests/test_stage1_warehouse_alignment.py
  hvdc_pipeline_backup/README.md
  hvdc_pipeline_backup/pipe1/docs/README.md
  hvdc_pipeline_backup/pipe1/requirements.txt
  hvdc_pipeline_backup/pipe1/scripts/__init__.py
  hvdc_pipeline_backup/pipe1/scripts/agi_columns.py
  hvdc_pipeline_backup/pipe1/scripts/data_synchronizer_v29.py
  hvdc_pipeline_backup/pipe1/scripts/post_agi_column_processor.py
  hvdc_pipeline_backup/pipe1/tests/test_post_agi_column_processor.py
  hvdc_pipeline_backup/pipe2/docs/PIPELINE_USER_GUIDE.md
  hvdc_pipeline_backup/pipe2/docs/README.md
  hvdc_pipeline_backup/pipe2/requirements.txt
  hvdc_pipeline_backup/pipe2/scripts/hvdc_excel_reporter_final_sqm_rev (1).py
  hvdc_pipeline_backup/tests/test_stage1_warehouse_alignment.py
  p.md
  p2.md
  p3.md
  rule/docs/HVDC_INVOICE_README.md
  scripts/install-cursor-rules.ps1
  scripts/install-cursor-rules.sh
  tests/test_post_agi_column_processor.py
Owners: @logistics-team, @qa-team, @devops-team, @senior-dev-1

feat: Migrate to new sct_invoice repository
  README.md
  rule/docs/HVDC_INVOICE_README.md
Owners: @logistics-team

docs: Update README.md with HVDC Pipeline v2.0 migration
  README.md
Owners: @logistics-team

docs: Final cleanup and README.md updates
  README.md.backup
Owners: @logistics-team

[FEAT] Complete HVDC Pipeline restructuring and integration
  HVDC_Pipeline_Final_Results_20251019/04_Stage4_Anomaly/hvdc_anomaly_report.json
  HVDC_Pipeline_Final_Results_20251019/README.md
  HVDC_Pipeline_Final_Results_20251019_New/04_Stage4_Anomaly/hvdc_anomaly_report_new.json
  HVDC_Pipeline_Final_Results_20251019_New/README.md
  WORK_COMPLETION_FINAL_REPORT_20251019.md
  hvdc_pipeline/archive/original_hitachi_anomaly_detector/hvdc_anomaly_report_new.json
  hvdc_pipeline/run_pipeline.py
  hvdc_pipeline/scripts/stage1_sync/data_synchronizer_v29.py
  hvdc_pipeline/scripts/stage2_derived/agi_columns.py
  hvdc_pipeline/scripts/stage2_derived/post_agi_column_processor.py
  hvdc_pipeline/scripts/stage3_report/hvdc_excel_reporter_final_sqm_rev.py
  hvdc_pipeline/scripts/stage4_anomaly/anomaly_detector_original.py
  hvdc_pipeline/scripts/stage4_anomaly/anomaly_visualizer_original.py
Owners: @logistics-team

behavioral(pipeline): feat: orchestrate hvdc stages
  hvdc_pipeline/config/pipeline_config.yaml
  hvdc_pipeline/config/stage2_derived_config.yaml
  hvdc_pipeline/run_pipeline.py
Owners: @logistics-team

behavioral(pipeline): align synced data output paths
  hvdc_pipeline/config/pipeline_config.yaml
  hvdc_pipeline/run_pipeline.py
  hvdc_pipeline/scripts/stage1_sync/data_synchronizer.py
  hvdc_pipeline/scripts/stage2_derived/derived_columns_processor.py
  tests/test_synced_paths.py
Owners: @logistics-team, @qa-team

structural(pipeline): feat: align stage outputs with pipeline config
  CHANGELOG.md
  hvdc_pipeline/run_pipeline.py
  hvdc_pipeline/scripts/stage2_derived/derived_columns_processor.py
  hvdc_pipeline/scripts/stage3_report/report_generator.py
Owners: @tech-lead, @logistics-team

behavioral(anomaly): fix: align stage4 sheet defaults
  hvdc_pipeline/README.md
  hvdc_pipeline/scripts/stage4_anomaly/anomaly_detector.py
  hvdc_pipeline/scripts/stage4_anomaly/anomaly_visualizer.py
Owners: @logistics-team

[FEAT] Complete pipeline configuration integration (p1 + p3)
  hvdc_pipeline/CHANGELOG.md
  hvdc_pipeline/config/pipeline_config.yaml
  hvdc_pipeline/config/stage2_derived_config.yaml
  hvdc_pipeline/run_pipeline.py
  hvdc_pipeline/scripts/stage2_derived/derived_columns_processor.py
  hvdc_pipeline/scripts/stage3_report/report_generator.py
Owners: @logistics-team

feat(pipeline): Stage 1/2 shared synced path handling
  WORK_COMPLETION_FINAL_REPORT_20251019.md
  hvdc_pipeline/archive/original_hitachi_anomaly_detector/apply_anomaly_colors.py
  hvdc_pipeline/archive/original_hitachi_anomaly_detector/check_case_ids.py
  hvdc_pipeline/archive/original_hitachi_anomaly_detector/check_sheet_structure.py
  hvdc_pipeline/archive/original_hitachi_anomaly_detector/debug_anomaly_types.py
  hvdc_pipeline/config/pipeline_config.yaml
  hvdc_pipeline/p1.md
  hvdc_pipeline/p2.md
  hvdc_pipeline/p3.md
  hvdc_pipeline/p4.md
  hvdc_pipeline/run_pipeline.py
  hvdc_pipeline/scripts/stage1_sync/data_synchronizer.py
  hvdc_pipeline/scripts/stage2_derived/derived_columns_processor.py
  hvdc_pipeline/tests/test_synced_paths.py
  p5.md
Owners: @logistics-team, @qa-team

fix(pipeline): 파이프라인 실행 오류 수정 - Stage 1-3 성공
  hvdc_pipeline/config/pipeline_config.yaml
  hvdc_pipeline/run_pipeline.py
  hvdc_pipeline/scripts/stage1_sync/__init__.py
Owners: @logistics-team

[STRUCT] Add UTF-8 encoding declarations to all Python files
  hvdc_pipeline/README.md
  hvdc_pipeline/config/pipeline_config.yaml
  hvdc_pipeline/docs/STAGE4_ANOMALY_GUIDE.md
  hvdc_pipeline/run_pipeline.py
  hvdc_pipeline/scripts/stage1_sync/data_synchronizer.py
  hvdc_pipeline/scripts/stage1_sync/data_synchronizer_v29.py
  hvdc_pipeline/scripts/stage2_derived/agi_columns.py
  hvdc_pipeline/scripts/stage2_derived/column_definitions.py
  hvdc_pipeline/scripts/stage2_derived/derived_columns_processor.py
  hvdc_pipeline/scripts/stage2_derived/post_agi_column_processor.py
  hvdc_pipeline/scripts/stage3_report/hvdc_excel_reporter_final_sqm_rev.py
  hvdc_pipeline/scripts/stage3_report/report_generator.py
  hvdc_pipeline/scripts/stage4_anomaly/anomaly_detector_original.py
  hvdc_pipeline/scripts/stage4_anomaly/anomaly_visualizer_original.py
  hvdc_pipeline/tests/test_synced_paths.py
  tests/test_simple.py
Owners: @logistics-team, @qa-team

[FIX] Improve date handling logic in Stage 1 synchronization
  hvdc_pipeline/scripts/stage1_sync/data_synchronizer.py
Owners: @logistics-team

.github/CODEOWNERS:

# HVDC Project Code Owners
# This file defines individuals or teams responsible for code in the repository.
# Code owners are automatically requested for review when someone opens a pull request.
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Global owners - default for everything
* @logistics-team

# === CRITICAL PATHS (Require 2+ approvals) ===

# Core synchronization logic
/hitachi/data_synchronizer.py @senior-dev-1 @senior-dev-2
/hitachi/case_matcher.py @senior-dev-1 @logistics-team
/hitachi/header_detector.py @senior-dev-2 @logistics-team

# ML Pipeline core
/ML/unified_ml_pipeline.py @ml-team-lead @senior-dev-1
/ML/enhanced_unified_ml_pipeline.py @ml-team-lead @senior-dev-1
/ML/weight_optimizer.py @ml-team-lead
/ML/ab_testing_framework.py @ml-team-lead @senior-dev-2

# MACHO-GPT Core Systems
/HVDC_Invoice_Audit/01_DSV_SHPT/Core_Systems/ @logistics-team @compliance-team
/HVDC_Invoice_Audit/00_Shared/ @logistics-team @senior-dev-1

# === CONFIGURATION & RULES (Tech Lead approval required) ===
/.cursorrules @tech-lead
/.pre-commit-config.yaml @tech-lead
/.github/workflows/ @tech-lead @devops-team
/hitachi/.cursorrules.project @tech-lead @logistics-team
/HVDC_Invoice_Audit/.cursorrules.project @tech-lead @logistics-team
/ML/.cursorrules.project @tech-lead @ml-team-lead

# === SECURITY & COMPLIANCE ===
# Any security-related files
**/security*.py @security-team @compliance-team
**/compliance*.py @compliance-team @senior-dev-1

# Configuration files that may contain sensitive data
**/config*.yaml @security-team
**/config*.json @security-team
**/.env* @security-team

# === DOCUMENTATION ===
/docs/ @tech-writer @tech-lead
/README.md @tech-lead
/CHANGELOG.md @tech-lead
/**/README*.md @logistics-team

# === TESTING ===
/tests/ @qa-team @logistics-team
/**/test_*.py @qa-team
/**/*_test.py @qa-team

# === SCRIPTS & AUTOMATION ===
/scripts/ @devops-team @senior-dev-1
/**/automation*.py @devops-team

# === DATA & EXCEL FILES ===
/**/*.xlsx @data-team @logistics-team
/**/*.csv @data-team

# === PDF PROCESSING ===
/PDF/ @document-processing-team @senior-dev-2

# === RATE MANAGEMENT ===
/Rate/ @finance-team @logistics-team

# === HYBRID SYSTEM ===
/hybrid_doc_system/ @architecture-team @senior-dev-1

# === PROJECT-SPECIFIC RULES ===

# Hitachi project
/hitachi/*.py @logistics-team
/hitachi/rewrite_v2_9/ @senior-dev-1 @senior-dev-2

# Invoice Audit
/HVDC_Invoice_Audit/01_DSV_SHPT/ @logistics-team @compliance-team
/HVDC_Invoice_Audit/02_DSV_DOMESTIC/ @logistics-team

# ML outputs and configs
/ML/output/ @ml-team-lead
/ML/docs/ @ml-team-lead @tech-writer
/ML/logi_costguard_ml_v2/ @ml-team-lead @logistics-team

# Note: Replace @team-name and @username with actual GitHub usernames/teams
# Example: @logistics-team could be @john-doe @jane-smith
#          or use GitHub team like @myorg/logistics-team
